* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.lists {
    background-color: skyblue;
    padding: 20px;
    border-radius: 10px;
}

li {
    border:  2px solid peru;
    margin: 5px;
    padding: 5px 20px;
    margin-bottom: 10px;
}

ul {
    /* list-style: disc; */
    /* list-style: lower-roman; */
    list-style: decimal;
    list-style-position: inside;
    /* list-style-position: outside;  */
}