* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animation-container {
    background-image: url("./Image/bg-image-1.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

img {
    position: absolute;
    height: 200px;
    bottom: 120px;

    /* Old way to declare*/
    animation-name: runnermen;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    /* modern way Shorthand of Animation */

    animation: runnermen 3s linear infinite;
}

@keyframes runnermen {
    0% {
        translate: 0%;
    }
    100% {
        translate: calc(100vw - 100px);
    }
}
